# Core functionality - changes here should be rare!
/src/app.py                   @rupasravani12
/src/backend/database.py      @rupasravani12
/src/backend/routers/auth.py  @rupasravani12

# The frontend will need refactored soon to be more object oriented.
/src/static/   @rupasravani12
